body, p{
    margin: 0;
}

h1 {
    text-decoration: none;
}

.container {
    margin: 200px auto;
    width: 520px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-color: lavender;
}

.header {
    padding: 20px 0 18px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #C4C4C4;
}

.main {
    padding: 26px 24px 24px 24px;
}
.question {
    font-size: 20px;
    margin-bottom:24px;
}

.id {
    width: 472px;
}