body, p{
    margin: 0;
}

h1 {
    text-decoration: none;
}

.container {
    margin: 100px auto;
    width: 520px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    background-color: #fff;
}

.header {
    padding: 20px 0 18px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #C4C4C4;
}

.main {
    padding: 26px 24px 30px 24px;
}
.question {
    font-size: 20px;
    margin-bottom:24px;
}

label {
    display: none;
}

.id, .pw {
    width: 472px;
    padding: 15px 16px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-sizing: border-box;
}

.id {
    margin-bottom: 10px;
}

.pw {
    margin-bottom: 17px;
}

.keep {
    display: flex;
    align-items: center;
}

.login_keep {
    margin-left: 8px;
    color: #767676;
}

.login_btn {
    width: 472px;
    padding: 14px;
    margin: 21px 0 20px;
    border: 0;
    border-radius: 5px;
    background-color: #2F80ED;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.join_find {
    text-align: center;
}

.join, .find {
    font-size: 14px;
    text-decoration: none;
    color: #767676;
}

.join:after {
    content: '|';
    height: 18px;
    margin: 12px;
    font-size: 14px;
}

.or {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #767676;
}

.or:before, .or:after {
    display: inline-block;
    content: '';
    width: 210px;
    height: 1px;
    vertical-align: middle;
    background-color: #C4C4C4;
}
.or:before {
    margin-right: 12px;
}
.or:after {
    margin-left: 12px;
}


.social {
    padding: 0px 24px;
}

a[class^="link"] {
    display: block;
    width: 472px;
    padding: 15px;
    margin-bottom: 25px;
    text-decoration: none;
    text-align: center;
    line-height: 28px;
    color: #767676;
    border-radius: 5px;
    box-sizing: border-box;
}

a[class^="link"]:before {
    display: block;
    content: "";
    width: 28px;
    height: 28px;
    float: left;
    background-size: 48px;
    background-image: url("img/css_sprites_3.png")
}

.link_goo {
    border: 1px solid #767676;
}

.link_goo:before {
    background-position: -10px -10px;
}

.link_fac {
    border: 1px solid #2D9CDB;
}

.link_fac:before {
    background-position: -10px -58px;
}

.link_nav {
    border: 1px solid #00BF18;
}

.link_nav:before {
    background-position: -10px -106px;
}


.link_kak {
    border: 1px solid #F2C94C;
}

.link_kak:before {
    background-position: -58px -154px;
}


.close_btn{
    float: right;
    border: 0;
    padding: 0;
    background-color: #fff;
}
.close {
    margin-right: 24px;
    width: 16px;
    height: 16px;
    
}