body {
    margin: 0;
}
p {
    margin: 0;
}

.login {
    display: none;
}

.login_area {
    margin: 200px auto;
    width: 500px;
    padding: 30px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
}

.weniv_logo {
    margin-top: 8px;
}

.welcome {
    margin-top: 28px;
    margin-bottom: 32px;
}

.btn_login {
    width: 440px;
    padding: 17px 189px 15px 190px;
    border: none;
    border-radius: 5px;
    background-color: #2F80ED;
}

.btn_login_p {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}